@import "tailwindcss";

.header-bg{
    background-image: url("https://res.cloudinary.com/ddybut6kl/image/upload/e_improve,w_300,h_600,c_thumb,g_auto/v1742188827/header-bg_d2nkzn.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}